{% extends "base.html" %}

{% block title %}Добавить оператора{% endblock %}

{% block content %}
<h1>Добавить оператора</h1>

{% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">

  <div>
    <label>ФИО:</label><br>
    <input type="text" name="full_name" required>
  </div>

  <div>
    <label>Email:</label><br>
    <input type="email" name="email" required>
  </div>

  <div>
    <label>Пароль:</label><br>
    <input type="password" name="password" required>
  </div>

  <div>
    <label>Роль:</label><br>
    <select name="role" id="role" onchange="toggleFields()">
      <option value="operator">Оператор</option>
      <option value="admin">Администратор</option>
    </select>
  </div>

  <div>
    <label>Основной департамент:</label><br>
    <select name="department_id">
      {% for d in departments %}
        <option value="{{ d.id }}">{{ d.name }}</option>
      {% endfor %}
    </select>
  </div>

  <hr>

  <!-- Департаменты -->
  <div id="category_block">
    <label>Доступ к департаментам:</label><br>
    {% for d in departments %}
      <input type="checkbox" name="category_access" value="{{ d.id }}">
      {{ d.name }}<br>
    {% endfor %}
  </div>

  <br>

  <!-- Права -->
  <div id="permissions_block">
    <label>Права:</label><br>

    {% for p in permissions_list %}
        <input type="checkbox" name="permissions" value="{{ p.value }}">
        {{ permission_labels.get(p, p.value) }}<br>
    {% endfor %}

  </div>

  <br>
  <button type="submit">Создать</button>
</form>

<script>
function toggleFields() {
  const role = document.getElementById("role").value;

  const category = document.getElementById("category_block");
  const permissions = document.getElementById("permissions_block");

  if (role === "admin") {
    category.style.display = "none";
    permissions.style.display = "none";
  } else {
    category.style.display = "block";
    permissions.style.display = "block";
  }
}

// при загрузке
window.onload = toggleFields;
</script>

{% endblock %}